{% extends 'base.html.twig' %}

{% block title %}Товары{% endblock %}

{% block body %}
    <h1>Товары</h1>

    <div class="container">
        <div class="d-flex row ">
{% for product in products %}
<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card" style="width: 18rem;">
        <img src="{{ asset(imagesFolder~'/'~product.image) }}" alt="{{ product.name }}" >
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <form action="{{ path('app_cart') }}" method="post"class="d-flex justify-content-between">
                    <input type="hidden" name="_token" value="{{ csrf_token('app_cart') }}">
                    <input type="hidden" name="id" value="{{ product.id }}">
                    <button type="submit"class="btn btn-primary">Add to cart</button>
                    <p class="text-muted text-end">{{ product.price }} Lei</p>
                    </form>
            
        </div>
    </div>

    <td>
    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-outline-primary">Show</a>
    <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-outline-primary">Edit</a>
    </td>

</div>
{% endfor %}
    </div>
        </div>
        




{#
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Brand</th>
                <th>Availability</th>
                <th>Number</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.category.name ?? null }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.rating }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.availability ? 'Yes' : 'No' }}</td>
                <td>{{ product.number }}</td>
                <td>{% if product.getImage() %}
                <img src="{{ asset(imagesFolder~'/'~product.image) }}" alt="{{ product.name }}" height="100px">
                {% endif %}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    #}

    <a href="{{ path('app_product_new') }}" class="btn btn-outline-primary">Create new</a>
{% endblock %}
