{% extends 'admin.html.twig' %}

{% block title %}Store index{% endblock %}

{% block body %}
    <h1>Store index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>OpenedAt</th>
                <th>ClosedAt</th>
                <th>Description</th>
                <th>Rating</th>
                <th>IsOpened</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.id }}</td>
                <td>{{ store.name }}</td>
                <td>{{ store.address }}</td>
                <td>{{ store.phoneNumber }}</td>
                <td>{{ store.email }}</td>
                <td>{{ store.openedAt ? store.openedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ store.closedAt ? store.closedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ store.description }}</td>
                <td>{{ store.rating }}</td>
                <td>{{ store.isOpened ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_store_show', {'id': store.id}) }}">show</a>
                    <a href="{{ path('app_store_edit', {'id': store.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="button">
        <a href="{{ path('app_store_new') }}">Create new</a>
        </div>
{% endblock %}
